#container {
    position: absolute;
    z-index: 0;
    width: 95%;
    height: 150vh;
    margin-left: 2.5%;
    background: #E6EDE2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.teapage {
    position: relative;
    width: 95%;
    height: 150vh;

}


#teas {
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    z-index: 2;


}
.colors {
    position: relative;

}

.colors {
    display: block;
}

.intro {
    display: none;
}

.intro {
    position: relative;
    top:auto;
    left: auto;
}

.visible {
    display: block;
}

h3 {
    font-size: 32px;
    font-family: 'Slabo 13px';
    color: #3C3B3B;
    text-decoration: none;
    letter-spacing: 6px;

    position: relative;
    left:auto;
    top:auto;

}
